html {
    min-height: 100%;
}

body {
     text-align: center;
     overflow: hidden;
}

.left-column {
    width: 100%;
    background-color: skyblue;
}

.rooms-list {
    width: 25%;
    background-color: rosybrown;
    float: left; 
}

.message-list {
    overflow: hidden;
    width: 75%;
    background-color: aquamarine;
    
}

.new-room {
    background-color: darkgrey;
}
.new-room:hover {
    background-color: darkseagreen;
}

